In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Data Loading & Conversion**

Convert 13 Excel files to CSV.

Delete original Excel files after conversion.

In [ ]:
import os

for i in range(13):
    excel_file = f'Sales_data_{i}.xlsx'
    csv_file = f'Sales_data_{i}.csv'
    df = pd.read_excel(excel_file)
    df.to_csv(csv_file, index=False)

for i in range(13):
    excel_file = f'Sales_data_{i}.xlsx'
    if os.path.exists(excel_file):
        try:
            os.remove(excel_file)
            print(f"Deleted: {excel_file}")
        except Exception as e:
            print(f"Error deleting {excel_file}: {e}")
    else:
        print(f"{excel_file} not found.")

Load all CSVs and concatenate into a single DataFrame (Combined_Sales_data.csv).

In [ ]:
dfs = {f'df{i}': pd.read_csv(f'Sales_data_{i}.csv') for i in range(15)}
for df in dfs.values():
    df['order_date'] = pd.to_datetime(df['order_date'])

final_df = pd.concat(dfs.values(), ignore_index=True)

final_df.to_csv('Combined_Sales_data.csv', index=False)

In [2]:
final_df = pd.read_csv('Combined_Sales_data.csv')

In [3]:
final_df.shape

(11256572, 9)

In [4]:
final_df.describe().apply(lambda s: s.apply('{:.2f}'.format))

,Unnamed: 0,order_id,product_id,offer_id,our_price,mrp,ship_postal_code,quantity
count,11256572.00,11256572.00,11256572.00,10724779.00,11256572.00,11256572.00,10724779.00,11256572.00
mean,4964241.97,16706007.42,177484.77,4254.77,174.74,244.52,482249.61,1.27
std,3180919.39,5961617.32,50353.11,5049.54,142.84,174.00,236407.36,0.83
min,0.00,6267852.00,3927.00,0.00,-28.00,1.00,0.00,1.00
25%,2105485.75,11737236.00,152858.00,0.00,81.00,135.00,248001.00,1.00
50%,4919628.50,16244608.50,182331.00,1714.00,146.00,215.00,495001.00,1.00
75%,7733771.25,21629364.00,197584.00,8386.00,215.00,285.00,700137.00,1.00
max,10547914.00,28387271.00,314065.00,16845.00,2715.00,2715.00,998899.00,38.00

**Data Cleaning**

Drop unnecessary columns (Unnamed: 0, offer_id).

In [5]:
final_df.drop(columns=['Unnamed: 0','offer_id'], inplace=True)

Create a free_item flag for zero-priced items.

In [6]:
final_df['free_item'] = (final_df['our_price'] == 0).astype(int)

Identify and count invalid prices.

In [ ]:
invalid_prices = final_df[final_df['our_price'] < 0][['order_id', 'our_price', 'free_item']]
print(invalid_prices)
invalid_prices.shape[0]

          order_id  our_price  free_item
2          6267869          0          1
9          6267880          0          1
28         6267925          0          1
68         6268017          0          1
76         6268058          0          1
...            ...        ...        ...
11255462  28381986          0          1
11255874  28383015          0          1
11255913  28383126          0          1
11256536  28387185          0          1
11256565  28387260          0          1

[635069 rows x 3 columns]

635069

In [8]:
final_df.head(50)

,order_id,order_date,product_id,our_price,mrp,ship_postal_code,quantity,free_item
0,6267852,2019-07-01,98798,186,265,NaN,1,0
1,6267857,2019-07-01,152858,194,215,NaN,1,0
2,6267869,2019-07-01,160170,0,399,NaN,1,1
3,6267870,2019-07-01,142756,40,80,NaN,5,0
4,6267870,2019-07-01,142761,30,60,NaN,5,0
5,6267871,2019-07-01,152858,108,215,NaN,1,0
6,6267872,2019-07-01,150118,107,165,NaN,1,0
7,6267873,2019-07-01,171828,113,225,NaN,1,0
8,6267875,2019-07-01,152858,151,215,NaN,1,0
9,6267880,2019-07-01,150118,0,165,NaN,1,1
10,6267881,2019-07-01,98802,46,65,NaN,1,0
11,6267884,2019-07-01,171145,131,175,NaN,1,0
12,6267889,2019-07-01,152858,151,215,NaN,1,0
13,6267890,2019-07-01,171830,113,225,NaN,1,0
14,6267890,2019-07-01,171828,113,225,NaN,2,0
15,6267890,2019-07-01,152858,108,215,NaN,2,0
16,6267893,2019-07-01,152858,151,215,NaN,1,0
17,6267896,2019-07-01,145982,74,99,NaN,1,0
18,6267896,2019-07-01,8224,139,199,NaN,1,0
19,6267898,2019-07-01,150118,107,165,NaN,1,0
20,6267902,2019-07-01,124196,94,125,NaN,1,0
21,6267908,2019-07-01,171828,113,225,NaN,1,0
22,6267908,2019-07-01,171829,113,225,NaN,1,0
23,6267908,2019-07-01,152858,108,215,NaN,1,0
24,6267918,2019-07-01,170892,125,249,NaN,1,0
25,6267918,2019-07-01,171828,113,225,NaN,1,0
26,6267918,2019-07-01,177472,200,399,NaN,1,0
27,6267924,2019-07-01,131320,158,225,NaN,1,0
28,6267925,2019-07-01,124196,0,125,NaN,2,1
29,6267927,2019-07-01,152858,151,215,NaN,1,0
30,6267927,2019-07-01,131320,158,225,NaN,1,0
31,6267930,2019-07-01,172301,399,399,NaN,2,0
32,6267933,2019-07-01,150118,149,165,NaN,1,0
33,6267934,2019-07-01,171830,158,225,NaN,1,0
34,6267941,2019-07-01,152858,151,215,NaN,1,0
35,6267943,2019-07-01,148566,43,85,NaN,1,0
36,6267953,2019-07-01,171828,113,225,NaN,1,0
37,6267953,2019-07-01,172256,50,99,NaN,1,0
38,6267959,2019-07-01,152858,151,215,NaN,1,0
39,6267963,2019-07-01,148585,28,55,NaN,1,0
40,6267963,2019-07-01,148566,43,85,NaN,1,0
41,6267963,2019-07-01,168500,43,85,NaN,1,0
42,6267972,2019-07-01,152858,151,215,NaN,1,0
43,6267975,2019-07-01,142764,30,60,NaN,1,0
44,6267976,2019-07-01,171828,135,225,NaN,1,0
45,6267981,2019-07-01,153264,700,875,NaN,1,0
46,6267983,2019-07-01,142756,40,80,NaN,1,0
47,6267983,2019-07-01,142755,40,80,NaN,1,0
48,6267985,2019-07-01,124196,81,125,NaN,1,0
49,6267985,2019-07-01,171828,158,225,NaN,1,0

In [9]:
final_df.isnull().sum()

order_id                 0
order_date               0
product_id               0
our_price                0
mrp                      0
ship_postal_code    531793
quantity                 0
free_item                0
dtype: int64

**Missing Value Handling**

Fill missing postal codes with random samples.

In [ ]:
def fillna_with_random_samples(df, column):
    
    non_null_values = df[column].dropna().values
    nan_indices = df[df[column].isna()].index
    
    random_samples = np.random.choice(non_null_values, size=len(nan_indices))
    
    df.loc[nan_indices, column] = random_samples

fillna_with_random_samples(final_df, 'ship_postal_code')

Convert postal codes to integer type.

In [11]:
final_df['ship_postal_code'] = final_df['ship_postal_code'].astype(int)

In [14]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11256572 entries, 0 to 11256571
Data columns (total 8 columns):
 #   Column            Dtype
---  ------            -----
 0   order_id          int64
 1   order_date        datetime64[ns]
 2   product_id        int64
 3   our_price         int64
 4   mrp               int64
 5   ship_postal_code  int64
 6   quantity          int64
 7   free_item         int64
dtypes: datetime64[ns](1), int64(7)
memory usage: 687.0 MB

In [13]:
final_df['order_date'] = pd.to_datetime(final_df['order_date'])

**Outlier Detection**

Detect outliers in our_price, mrp, and quantity using IQR and z-score methods.

In [ ]:
def count_outliers_iqr(data, col):
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1
    outliers = data[(data[col] < (Q1 - 1.5 * IQR)) | (data[col] > (Q3 + 1.5 * IQR))]
    return outliers.shape[0]

num_outliers_our_price = count_outliers_iqr(final_df, 'our_price')
num_outliers_mrp = count_outliers_iqr(final_df, 'mrp')
num_outliers_quantity = count_outliers_iqr(final_df, 'quantity')

print(f"Total outliers in 'our_price': {num_outliers_our_price}")
print(f"Total outliers in 'mrp': {num_outliers_mrp}")
print(f"Total outliers in 'quantity': {num_outliers_quantity}")

In [ ]:
import numpy as np

def detect_outliers_zscore(data, col, threshold=3):
    mean_val = data[col].mean()
    std_dev = data[col].std()
    z_scores = (data[col] - mean_val) / std_dev
    outliers = data[np.abs(z_scores) > threshold]
    return outliers

numeric_cols = ['our_price', 'mrp', 'quantity']

for col in numeric_cols:
    outliers = detect_outliers_zscore(final_df, col)
    print(f"Outliers in '{col}' based on z-score: {outliers.shape[0]}")

In [ ]:
print(outliers)

Visualize outliers with boxplots and scatter plots.

In [ ]:
plt.figure(figsize=(8, 6))
sns.scatterplot(x='mrp', y='our_price', data=final_df)
plt.title('Scatter plot of MRP vs Our Price')
plt.show()

Removing Invalid Prices

In [15]:
final_df = final_df[final_df['our_price'] <= final_df['mrp']]

In [ ]:
plt.figure(figsize=(8, 6))
sns.scatterplot(x='mrp', y='our_price', data=final_df)
plt.title('Scatter plot of MRP vs Our Price')
plt.show()

In [18]:
final_df.shape

(11256508, 9)

Calculate revenue as our_price * quantity.

In [17]:
final_df['revenue'] = final_df['our_price'] * final_df['quantity']

**Exploratory Data Analysis**

Visualize distributions and correlations.

In [ ]:
num_cols = ['our_price', 'mrp', 'quantity']

for col in num_cols:
    plt.figure(figsize=(8, 4))
    sns.boxplot(x=final_df[col])
    plt.title(f'Boxplot of {col}')
    plt.show()

In [ ]:
plt.figure(figsize=(6, 4))
sns.heatmap(final_df[num_cols].corr(), annot=True, cmap='coolwarm')
plt.title('Correlation Matrix')
plt.show()

In [ ]:
final_df['quantity'].unique()

Analyze top products and postal codes by order count.

In [ ]:
top_products = final_df['product_id'].value_counts().nlargest(20).index

plt.figure(figsize=(18, 6))
sns.countplot(data=final_df[final_df['product_id'].isin(top_products)], 
              x='product_id', 
              order=top_products)
plt.title('Top 20 Products by Number of Orders')
plt.xticks(rotation=45)
plt.show()

Map sales quantity geographically using postal code boundaries.

In [ ]:
top_postal_codes = final_df['ship_postal_code'].value_counts().nlargest(20).index

plt.figure(figsize=(12, 6))
sns.countplot(data=final_df[final_df['ship_postal_code'].isin(top_postal_codes)], 
              x='ship_postal_code',
              order=top_postal_codes)
plt.title('Top 20 Shipping Postal Codes by Order Count')
plt.xticks(rotation=45)
plt.show()

Merge city and state info using postal codes.

In [19]:
import geopandas as gpd

postal_gdf = gpd.read_file('All_India_pincode_Boundary.geojson')
postal_gdf['Pincode'] = postal_gdf['Pincode'].astype(str)

In [ ]:
postal_quantity = final_df.groupby('ship_postal_code')['quantity'].sum().reset_index()
postal_quantity['ship_postal_code'] = postal_quantity['ship_postal_code'].astype(str)

In [ ]:
merged_gdf = postal_gdf.merge(postal_quantity, left_on='Pincode', right_on='ship_postal_code', how='left')
merged_gdf['quantity'] = merged_gdf['quantity'].fillna(0)

Division_quantity = merged_gdf.groupby('Division')['quantity'].sum().reset_index()

Division_gdf = merged_gdf.dissolve(by='Division', aggfunc='sum').reset_index()
Division_gdf = Division_gdf[['Division', 'geometry']].merge(Division_quantity, on='Division')

In [20]:
final_df['ship_postal_code'] = final_df['ship_postal_code'].astype(str)
postal_gdf['Pincode'] = postal_gdf['Pincode'].astype(str)

postal_info = postal_gdf[['Pincode', 'Division', 'Circle']].drop_duplicates()

final_df = final_df.merge(postal_info, left_on='ship_postal_code', right_on='Pincode', how='left')

final_df = final_df.drop(columns=['Pincode'])

final_df = final_df.rename(columns={'Division': 'City', 'Circle': 'State'})

In [21]:
final_df['month_year'] = final_df['order_date'].dt.to_period('M').astype(str)

In [ ]:
city_sales = final_df.groupby('City')['quantity'].sum().reset_index()
top_cities = city_sales.sort_values('quantity', ascending=False).head(20)

plt.figure(figsize=(12, 6))
sns.barplot(x='quantity', y='City', data=top_cities, hue='City', palette='viridis')
plt.title('Top 20 Cities by Sales Quantity')
plt.xlabel('Total Quantity Sold')
plt.ylabel('City')
plt.tight_layout()
plt.show()

In [ ]:
final_df['order_date'] = pd.to_datetime(final_df['order_date'])
final_df['month_year'] = final_df['order_date'].dt.to_period('M').astype(str)

state_monthly_revenue = final_df.groupby(['State', 'month_year'])['revenue'].sum().reset_index()

plt.figure(figsize=(14,7))
sns.lineplot(data=state_monthly_revenue, x='month_year', y='revenue', hue='State')
plt.title('Monthly Revenue Trend by State')
plt.xlabel('Month-Year')
plt.ylabel('Revenue')
plt.xticks(rotation=45)
plt.legend(title='State', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.tight_layout()
plt.show()

In [ ]:
Division_gdf_proj = Division_gdf.to_crs(epsg=3857)
Division_gdf_proj['centroid'] = Division_gdf_proj.geometry.centroid
centroids_latlon = Division_gdf_proj['centroid'].to_crs(epsg=4326)
Division_gdf_proj['centroid_lat'] = centroids_latlon.y
Division_gdf_proj['centroid_lon'] = centroids_latlon.x

In [ ]:
import geopandas as gpd

states_gdf = gpd.read_file('All_India_pincode_Boundary.geojson')
state_sales = final_df.groupby('State')['quantity'].sum().reset_index()
states_gdf = states_gdf.merge(state_sales, left_on='Circle', right_on='State', how='right').fillna(0)

fig, ax = plt.subplots(1, 1, figsize=(10, 12))
states_gdf.plot(column='quantity', ax=ax, legend=True, cmap='OrRd')
ax.set_title('Sales Quantity by State')
ax.axis('off')
plt.show()

In [ ]:
import folium
from IPython.display import display

max_qty = Division_gdf_proj['quantity'].max()

def scaled_radius(qty, max_radius=30):
    return 3 + (qty / max_qty) * max_radius 

def scaled_opacity(qty, max_opacity=0.8):
    return min(0.3 + (qty / max_qty) * max_opacity, max_opacity)

m = folium.Map(location=[20.5937, 78.9629], zoom_start=5)

for idx, row in Division_gdf_proj.iterrows():
    qty = row['quantity']
    if qty > 0:
        radius = scaled_radius(qty)
        opacity = scaled_opacity(qty)
        folium.CircleMarker(
            location=[row['centroid_lat'], row['centroid_lon']],
            radius=radius,
            color='lightblue',
            fill=True,
            fill_color='lightbrown',
            fill_opacity=opacity,
            popup=f"Division: {row['Division']}<br>Quantity: {int(qty)}"
        ).add_to(m)

display(m)

In [ ]:
final_df['order_date'] = pd.to_datetime(final_df['order_date'])
final_df['month_year'] = final_df['order_date'].dt.to_period('M')

monthly_sales = final_df.groupby('month_year')['quantity'].sum().reset_index()
monthly_sales['month_year'] = monthly_sales['month_year'].astype(str)

plt.figure(figsize=(12, 6))
sns.lineplot(data=monthly_sales, x='month_year', y='quantity', marker='o')
plt.title('Monthly Sales')
plt.xlabel('Month-Year')
plt.ylabel('Total Quantity Sold')
plt.xticks(rotation=45)
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
final_df['revenue'] = final_df['our_price'] * final_df['quantity']

monthly_revenue = final_df.groupby('month_year')['revenue'].sum().reset_index()
monthly_revenue['month_year'] = monthly_revenue['month_year'].astype(str)

In [ ]:
plt.figure(figsize=(12, 6))
sns.lineplot(data=monthly_revenue, x='month_year', y='revenue', marker='o', color='green')
plt.title('Monthly Revenue Over Time')
plt.xlabel('Month-Year')
plt.ylabel('Revenue')
plt.xticks(rotation=45)
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
final_df['order_date'] = pd.to_datetime(final_df['order_date'])

all_dates = pd.date_range(start='2019-07-01', end='2022-09-30', freq='D')

product_ids = final_df['product_id'].unique()
full_index = pd.MultiIndex.from_product([product_ids, all_dates], names=['product_id', 'order_date'])

final_df = final_df.set_index(['product_id', 'order_date']).reindex(full_index)

outside_july = ~( (final_df.index.get_level_values('order_date') >= pd.Timestamp('2022-07-01')) & 
                  (final_df.index.get_level_values('order_date') <= pd.Timestamp('2022-07-31')) )
final_df.loc[outside_july, 'quantity'] = final_df.loc[outside_july, 'quantity'].fillna(0)
final_df.loc[outside_july, 'revenue'] = final_df.loc[outside_july, 'revenue'].fillna(0)

def interpolate_july(group):
    idx = (group.index >= pd.Timestamp('2022-07-01')) & (group.index <= pd.Timestamp('2022-07-31'))
    group.loc[idx, 'quantity'] = group['quantity'].interpolate(method='linear')[idx]
    group.loc[idx, 'revenue'] = group['revenue'].interpolate(method='linear')[idx]
    
    group.loc[idx, 'quantity'] = group.loc[idx, 'quantity'].fillna(method='ffill').fillna(method='bfill')
    group.loc[idx, 'revenue'] = group.loc[idx, 'revenue'].fillna(method='ffill').fillna(method='bfill')
    return group

final_df = final_df.groupby(level='product_id').apply(interpolate_july)

final_df = final_df.reset_index()

In [27]:
final_df.head(10)

,order_id,order_date,product_id,our_price,mrp,ship_postal_code,quantity,free_item,revenue,City,State,month_year
0,6267852,2019-07-01,98798,186,265,635126,1,0,186,Krishnagiri,Tamilnadu,2019-07
1,6267857,2019-07-01,152858,194,215,413504,1,0,194,Dharashiv,Maharashtra,2019-07
2,6267869,2019-07-01,160170,0,399,495445,1,1,0,Bilaspur,Chattisgarh,2019-07
3,6267870,2019-07-01,142756,40,80,452010,5,0,200,Indore City,Madhya Pradesh,2019-07
4,6267870,2019-07-01,142761,30,60,411015,5,0,150,Pune City East,Maharashtra,2019-07
5,6267871,2019-07-01,152858,108,215,208001,1,0,108,Kanpur HO,Uttar Pradesh,2019-07
6,6267872,2019-07-01,150118,107,165,635109,1,0,107,Krishnagiri,Tamilnadu,2019-07
7,6267873,2019-07-01,171828,113,225,683513,1,0,113,Alwaye,Kerala,2019-07
8,6267875,2019-07-01,152858,151,215,795004,1,0,151,Manipur,North Eastern,2019-07
9,6267880,2019-07-01,150118,0,165,273001,1,1,0,Gorakhpur,Uttar Pradesh,2019-07

**Product Catalog Integration**

In [23]:
product_catalog = pd.read_csv('product_catalog.csv', low_memory=False)

Merge sales data with product catalog for additional product info

In [31]:
useful_cols = ['id', 'name', 'ean_code', 'hsn_code']
product_catalog = product_catalog[useful_cols]

final_df['product_id'] = final_df['product_id'].astype(str)
product_catalog['id'] = product_catalog['id'].astype(str)

sales_with_product_info = final_df.merge(product_catalog, left_on='product_id', right_on='id', how='left')
sales_with_product_info = sales_with_product_info.drop(columns=['id'])

In [32]:
sales_with_product_info.tail(20)

,order_id,order_date,product_id,our_price,mrp,ship_postal_code,quantity,free_item,revenue,City,State,month_year,name,ean_code,hsn_code
11256488,28387227,2022-09-30,195821,139,170,723101,1,0,139,Purulia,West Bengal,2022-09,Aroma Magic Neem & Tea Tree Face Wash (100 ml),8904089802833,34013090
11256489,28387227,2022-09-30,261138,70,99,723101,1,0,70,Purulia,West Bengal,2022-09,Good Vibes Rice Brightening Sheet Mask (20 ml),8904362505253,34013090
11256490,28387229,2022-09-30,182740,329,365,736146,1,0,329,Cooch Behar,West Bengal,2022-09,L'Oreal Paris Total Repair 5 Masque (200 ml),8901526101559,33051090
11256491,28387234,2022-09-30,252399,180,225,804451,1,0,180,PATNA SAHIB,Bihar,2022-09,Good Vibes Rosehip Radiant Glow Face Serum | L...,8904362500005,33049910
11256492,28387240,2022-09-30,252399,180,225,804451,1,0,180,PATNA SAHIB,Bihar,2022-09,Good Vibes Rosehip Radiant Glow Face Serum | L...,8904362500005,33049910
11256493,28387248,2022-09-30,297069,169,199,782447,1,0,169,Nagaon,Assam,2022-09,Biotique Morning Nectar Sun Protect Moisturize...,8904352001970,33049930
11256494,28387250,2022-09-30,124196,119,125,181122,1,0,119,Jammu,Jammukashmir,2022-09,Stay Quirky Kajal Black BadAss| Long Lasting| ...,SQKABA01,33042000
11256495,28387253,2022-09-30,182331,525,750,711102,2,0,1050,Howrah,West Bengal,2022-09,Maybelline New York Super Stay Full Coverage F...,6902395685708,33049990
11256496,28387254,2022-09-30,161079,581,995,302039,1,0,581,Jaipur City,Rajasthan,2022-09,Lotus Herbals Radiant Gold Cellular Glow Facia...,806360136416,33049990
11256497,28387254,2022-09-30,269337,272,465,302039,1,0,272,Jaipur City,Rajasthan,2022-09,Lotus Herbals Safe Sun 3 In 1 Matte Look | SPF...,806360681008,33049990
11256498,28387254,2022-09-30,123389,307,455,302039,1,0,307,Jaipur City,Rajasthan,2022-09,Lotus Herbals Nutramoist Skin Renewal Daily Mo...,806360790502,33049910
11256499,28387254,2022-09-30,269369,271,430,302039,1,0,271,Jaipur City,Rajasthan,2022-09,Lotus Herbals Whiteglow Skin Whitening & Brigh...,806360630600,33049910
11256500,28387255,2022-09-30,234367,168,240,623526,1,0,168,Ramanathapuram,Tamilnadu,2022-09,Good Vibes Tea Tree & Papaya Oil Control Face ...,8904362500203,33049910
11256501,28387260,2022-09-30,186498,0,80,410210,1,1,0,Navi Mumbai,Maharashtra,2022-09,NY Bae Creme Nail Enamel - Hot Dog 1 (6 ml) | ...,NYBCNL01,33049920
11256502,28387261,2022-09-30,237362,89,135,181143,1,0,89,Jammu,Jammukashmir,2022-09,L'Oreal Paris Skin Perfect Anti Fine Lines + W...,8901526104697,33049990
11256503,28387264,2022-09-30,276036,86,90,212635,1,0,86,Fatehpur,Uttar Pradesh,2022-09,Alps Goodness Powder - Neem (50 g) | 100% Natu...,PPLP1214AG16,33059090
11256504,28387264,2022-09-30,274479,95,100,212635,1,0,95,Fatehpur,Uttar Pradesh,2022-09,Alps Goodness Powder - Sandalwood (50 g) | 100...,PPLP1214AG3,33059090
11256505,28387270,2022-09-30,283698,315,450,795138,1,0,315,Manipur,North Eastern,2022-09,Good Vibes Rosehip Radiant Glow Face Serum | L...,8904362500012,33049910
11256506,28387271,2022-09-30,252399,180,225,391320,1,0,180,Vadodara West,Gujarat,2022-09,Good Vibes Rosehip Radiant Glow Face Serum | L...,8904362500005,33049910
11256507,28387271,2022-09-30,279267,175,250,391320,1,0,175,Vadodara West,Gujarat,2022-09,Good Vibes Vitamin C & E Age Defying Face Seru...,8904362502740,33049910

In [33]:
duplicate_cols = sales_with_product_info.columns[sales_with_product_info.columns.duplicated()]
sales_with_product_info.drop(columns=duplicate_cols, inplace=True)

In [34]:
sales_with_product_info.head(20)

,order_id,order_date,product_id,our_price,mrp,ship_postal_code,quantity,free_item,revenue,City,State,month_year,name,ean_code,hsn_code
0,6267852,2019-07-01,98798,186,265,635126,1,0,186,Krishnagiri,Tamilnadu,2019-07,Biotique Bio Bhringraj Therapeutic Oil For Fal...,8906009459554,30039011
1,6267857,2019-07-01,152858,194,215,413504,1,0,194,Dharashiv,Maharashtra,2019-07,Good Vibes Rosehip Radiant Glow Face Serum | L...,8904362500005,33049910
2,6267869,2019-07-01,160170,0,399,495445,1,1,0,Bilaspur,Chattisgarh,2019-07,Stay Quirky Lipstick Soft Matte Minis|12 in 1|...,PPLP1214SQBML1,33041000
3,6267870,2019-07-01,142756,40,80,452010,5,0,200,Indore City,Madhya Pradesh,2019-07,NY Bae Matte Nail Enamel - Veggies On Rice 6 (...,NYBMNL06,33049920
4,6267870,2019-07-01,142761,30,60,411015,5,0,150,Pune City East,Maharashtra,2019-07,NY Bae Creme Nail Enamel - Hot Dog 1 (6 ml) | ...,NYBCNL01,33049920
5,6267871,2019-07-01,152858,108,215,208001,1,0,108,Kanpur HO,Uttar Pradesh,2019-07,Good Vibes Rosehip Radiant Glow Face Serum | L...,8904362500005,33049910
6,6267872,2019-07-01,150118,107,165,635109,1,0,107,Krishnagiri,Tamilnadu,2019-07,Stay Quirky Daily Wear Liquid Foundation For F...,SQLF0001,33049990
7,6267873,2019-07-01,171828,113,225,683513,1,0,113,Alwaye,Kerala,2019-07,Good Vibes Vitamin C & B3 Skin Glow Face Serum...,8904362502719,33049990
8,6267875,2019-07-01,152858,151,215,795004,1,0,151,Manipur,North Eastern,2019-07,Good Vibes Rosehip Radiant Glow Face Serum | L...,8904362500005,33049910
9,6267880,2019-07-01,150118,0,165,273001,1,1,0,Gorakhpur,Uttar Pradesh,2019-07,Stay Quirky Daily Wear Liquid Foundation For F...,SQLF0001,33049990
10,6267881,2019-07-01,98802,46,65,410206,1,0,46,Navi Mumbai,Maharashtra,2019-07,Biotique Bio Honey Gel Refreshing Foaming Face...,8904352000225,30039011
11,6267884,2019-07-01,171145,131,175,221005,1,0,131,Varanasi East,Uttar Pradesh,2019-07,"NY Bae Argan Oil Infused Matte Lipstick, Runwa...",PPLP1214NYBRAL19,33041000
12,6267889,2019-07-01,152858,151,215,679584,1,0,151,Tirur,Kerala,2019-07,Good Vibes Rosehip Radiant Glow Face Serum | L...,8904362500005,33049910
13,6267890,2019-07-01,171830,113,225,560005,1,0,113,Bengaluru East,Karnataka,2019-07,Good Vibes Vitamin C & E Age Defying Face Seru...,8904362502740,33049990
14,6267890,2019-07-01,171828,113,225,682508,2,0,226,Ernakulam,Kerala,2019-07,Good Vibes Vitamin C & B3 Skin Glow Face Serum...,8904362502719,33049990
15,6267890,2019-07-01,152858,108,215,380055,2,0,216,Ahmedabad City,Gujarat,2019-07,Good Vibes Rosehip Radiant Glow Face Serum | L...,8904362500005,33049910
16,6267893,2019-07-01,152858,151,215,506001,1,0,151,Hanamkonda,Telangana,2019-07,Good Vibes Rosehip Radiant Glow Face Serum | L...,8904362500005,33049910
17,6267896,2019-07-01,145982,74,99,380051,1,0,74,Ahmedabad City,Gujarat,2019-07,Everyuth Naturals Chocolate and Cherry Tan Rem...,8901548147368,33049990
18,6267896,2019-07-01,8224,139,199,110018,1,0,139,New Delhi West,Delhi,2019-07,"Biotique Bio Fruit Whitening, Depigmentation &...",8904352001789,30039011
19,6267898,2019-07-01,150118,107,165,208011,1,0,107,Kanpur City,Uttar Pradesh,2019-07,Stay Quirky Daily Wear Liquid Foundation For F...,SQLF0001,33049990

Handle missing city/state info by mapping to nearest available postal code.

In [35]:
mask_missing = sales_with_product_info['City'].isnull() | sales_with_product_info['State'].isnull()
missing_pincode_df = sales_with_product_info[mask_missing][['ship_postal_code']].drop_duplicates()

In [36]:
pincode_city_state_df = sales_with_product_info.dropna(subset=['City', 'State'])[['ship_postal_code', 'City', 'State']].drop_duplicates()
pincode_city_state_df['ship_postal_code'] = pincode_city_state_df['ship_postal_code'].astype(int)

In [37]:
def find_nearest_pincode(pincode, available_pincodes):
    pincode = int(pincode)
    return available_pincodes[np.abs(available_pincodes - pincode).argmin()]

available_pincodes = pincode_city_state_df['ship_postal_code'].values
missing_pincode_df['nearest_pincode'] = missing_pincode_df['ship_postal_code'].apply(lambda x: find_nearest_pincode(x, available_pincodes))

missing_pincode_df = missing_pincode_df.merge(
    pincode_city_state_df, left_on='nearest_pincode', right_on='ship_postal_code', suffixes=('_missing', '_nearest')
)

In [38]:
city_map = missing_pincode_df.set_index('ship_postal_code_missing')['City'].to_dict()
state_map = missing_pincode_df.set_index('ship_postal_code_missing')['State'].to_dict()

missing_mask = sales_with_product_info['City'].isnull() & sales_with_product_info['State'].isnull()

sales_with_product_info.loc[missing_mask, 'City'] = sales_with_product_info.loc[missing_mask, 'ship_postal_code'].map(city_map)
sales_with_product_info.loc[missing_mask, 'State'] = sales_with_product_info.loc[missing_mask, 'ship_postal_code'].map(state_map)

Visualize top products by revenue.

In [ ]:
product_rev = sales_with_product_info.groupby('ean_code')['revenue'].sum().reset_index()
top_products_rev = product_rev.sort_values('revenue', ascending=False).head(10)

plt.figure(figsize=(18,6))
sns.barplot(x='revenue', y='ean_code', data=top_products_rev, color='darkgreen')
plt.title('Top 10 Products by Revenue')
plt.xlabel('Total Revenue')
plt.ylabel('Product ean_code')
plt.tight_layout()
plt.show()

Scatter plot of average price vs total quantity sold.

In [ ]:
prod_summary = sales_with_product_info.groupby('ean_code').agg({
    'our_price': 'mean',
    'quantity': 'sum'
}).reset_index()

plt.figure(figsize=(10,6))
sns.scatterplot(data=prod_summary, x='our_price', y='quantity')
plt.title('Product Price vs Total Quantity Sold')
plt.xlabel('Average Product Price')
plt.ylabel('Total Quantity Sold')
plt.tight_layout()
plt.show()

Monthly revenue trends for top products.

In [ ]:
top_names = top_products_rev['ean_code'].tolist()
monthly_prod_rev = sales_with_product_info[sales_with_product_info['ean_code'].isin(top_names)]
monthly_rev_pivot = monthly_prod_rev.groupby(['month_year', 'ean_code'])['revenue'].sum().reset_index()
monthly_rev_pivot['revenue'] = pd.to_numeric(monthly_rev_pivot['revenue'])
monthly_rev_pivot['month_year'] = monthly_rev_pivot['month_year'].astype(str)

plt.figure(figsize=(18,8))
sns.lineplot(data=monthly_rev_pivot, x='month_year', y='revenue', hue='ean_code')
plt.title('Monthly Revenue Trends for Top Products')
plt.xlabel('Month-Year')
plt.ylabel('Revenue')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

Revenue by HSN code.

In [ ]:
hsn_sales = sales_with_product_info.groupby('hsn_code')['revenue'].sum().reset_index()
top_hsn = hsn_sales.sort_values('revenue', ascending=False).head(10)

plt.figure(figsize=(12,6))
sns.barplot(x='revenue', y='hsn_code', data=top_hsn, color='navy')
plt.title('Revenue by HSN Code')
plt.xlabel('Revenue')
plt.ylabel('HSN Code')
plt.tight_layout()
plt.show()

In [41]:
sales_with_product_info.head()

,order_id,order_date,product_id,our_price,mrp,ship_postal_code,quantity,free_item,revenue,City,State,month_year,name,ean_code,hsn_code,our_price_log_zscore_capped,mrp_log_zscore_capped,quantity_log_zscore_capped,revenue_log_zscore_capped
0,6267852,2019-07-01,98798,186,265,635126,1,0,186,Krishnagiri,Tamilnadu,2019-07,Biotique Bio Bhringraj Therapeutic Oil For Fal...,8906009459554,30039011,186,265,1,186
1,6267857,2019-07-01,152858,194,215,413504,1,0,194,Dharashiv,Maharashtra,2019-07,Good Vibes Rosehip Radiant Glow Face Serum | L...,8904362500005,33049910,194,215,1,194
2,6267869,2019-07-01,160170,0,399,495445,1,1,0,Bilaspur,Chattisgarh,2019-07,Stay Quirky Lipstick Soft Matte Minis|12 in 1|...,PPLP1214SQBML1,33041000,0,399,1,0
3,6267870,2019-07-01,142756,40,80,452010,5,0,200,Indore City,Madhya Pradesh,2019-07,NY Bae Matte Nail Enamel - Veggies On Rice 6 (...,NYBMNL06,33049920,40,80,4,200
4,6267870,2019-07-01,142761,30,60,411015,5,0,150,Pune City East,Maharashtra,2019-07,NY Bae Creme Nail Enamel - Hot Dog 1 (6 ml) | ...,NYBCNL01,33049920,30,60,4,150

**Final Output**

In [42]:
sales_with_product_info.to_csv('final.csv', index=False)